*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    padding: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: poppins;
}

.section1 {
    background-image: url(/Pics/unsplash_dXYE1d08BiY.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flower-container {
    max-width: 1519px;
    width: 100%;
    height: 855px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/Pics/unsplash_dXYE1d08BiY.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    width: 87%;
    height: 32px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.left-nav {
    width: 128px;
    height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.site-name {
    line-height: 16px;
    font-size: 25px;
    font-weight: 400;
    font-family: Nova Script;
    cursor: pointer;
    font-style: italic;
    list-style: none;
    text-decoration: none;
    color: white;
}

.right-nav {
    width: 370px;
}

.right-nav ul,a{
    padding: 0;
    display: flex;
    list-style: none;
    text-decoration: none;
}

.right-nav ul {
    gap: 30px;
}

.right-nav li{
    list-style: none;
    text-decoration: none;
    width: 62px;
    height: 16px;
}

.right-nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;   
    padding-top: 8px;
    padding-bottom: 8px;
    text-wrap: nowrap;
    color: white;
}

.topSignUp-button {
    width: 80px;
    background-color: rgba(236, 245, 242, 0.4); /* Green */
    border: none;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    border-radius: 28px;
}

.hamburger {
    padding-top: 8px;
    padding-bottom: 8px;
}

.hero-text {
    width: 100%;
    margin-top: 198px;
}

.hero-container {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.hero-container h1 {
    width: 100%;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.hero-container p {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    margin-top: 55px;
}

.knowMore-hero {
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding: 5px 1px;
    border-bottom: 3px solid white;
}

.knowMore-hero p{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .left-nav {
        display: none;
    }
    .right-nav ul, li{
        flex-direction: column-reverse;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}

.mainimages-container {
    max-width: 1519px;
    width: 100%;
    height: 595px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
}

.back-images {
    width: 100%;
    max-width: 1519px;
    height: 491px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: flex;
}

.centerimg {
    width: 491px;
    height: 491px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.rightimg {
    width: 120px;
    height: 135px;
    position: absolute;
    right: 0;
}

.rightimg img{
    width: 120px;
    height: 120px;
}

.no3 {
    position: absolute;
    margin-top: -18px;
}
.no2 {
    position: absolute;
    margin-top: -10px;
}

.no1 {
    position: absolute;
    margin-top: 30px;
}

.imagecontent-container {
    height: 525px;
    width: 735px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.text-container {
    text-align: center;
    width: 362px;
    height: 29px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(63, 140, 82, 1);
}

.text-container p{
    font-family: Nova Script;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 29px;
}

.img-container {
    margin-top: 99px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.img-container p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.img-container img {
    padding-right: 160px;
}

.imgno3 img{
    padding: 0;
}

.imgno4 img{
    margin-top: 110px;
}

.imgno5 img{
    margin-top: 100px;
}

.imgno6 img{
    margin-top: 100px;
    padding: 0;
}

.imgno1 p{
    margin-top: 33px;
    color: rgba(189, 0, 95, 1)
}

.imgno2 p{
    margin-top: 34px;
    color: rgba(251, 158, 5, 1);
}

.imgno3 p{
    margin-top: 17px;
    text-align: center;
    color: rgba(201, 217, 77, 1);
}

.imgno4 p{
    margin-top: 27px;
    margin-left: 50px;
    color: rgba(70, 165, 222, 1);
}

.imgno5 p{
    margin-top: 17px;
    margin-left: 25px;
    color: rgba(36, 76, 21, 1);
}

.imgno6 p{
    margin-top: 22px;
    text-align: center;
    color: rgba(243, 96, 25, 1);
}

.branch {
    position: absolute;
    right: 0;
    bottom: 0;
}

.flower {
    position: absolute;
    left: 0;
    margin-top: 500px;
    opacity: 15%;
}

.cherry {
    left: 0;
}

@media screen and (max-width: 640px) {
    .imagecontent-container {
        width: 100%;
    }
    .img-container {
        padding: 0;
    }
    .img-container img{
        padding: 0;
    }
    .back-images {
        display: none;
    }
}

.mid-container {
    max-width: 1419px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px; 
    margin-right: auto;   
    margin-left: auto;
    padding-top: 163px;
    position: relative;
}

.toptext {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.mid-content {
    width: 100%;
}

.midcontainer-backimg {
    height: 1615px;
    width: 485px;
    margin-left: auto;
    margin-right: auto;
}

.midcenterimg-1 img{
    width: 485px;
    height: 301px;
}

.midcenterimg-2 img{
    width: 463px;
    height: 461px;
    margin-top: 200px;
}

.midcenterimg-3 img{
    width: 444px;
    height: 444px;
    margin-top: 200px;
}

.mainmid-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 202px;
    margin-top: 68px;
}

.container-col1, .container-col2 {
    width: 100%;
    gap: 161px;
    display: flex;
}

.mainmid-content img {
    width: 100%;
}

.mainmid-img {
    flex: 1;
}

.mainmid-text {
    flex: 1;
}

.mainmid-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    margin-top: 20px;
    text-align: justify;
}

.mainmid-text h1 {  
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
}

.mainmid-text a{
    margin-top: 27px;
    width: 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: black;
    border-bottom: 2px solid black;
}

.bottom-text {
    color: rgba(91, 191, 115, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    padding-left: 40%;
    padding-right: 50%;
    text-wrap: nowrap;
    padding-top: 100px;
    padding-bottom: 200px;
}

@media screen and (max-width: 640px) {
    .container-col1 {
        flex-direction: column;
        gap: 60px;
    }
    .container-col2 {
        flex-direction: column-reverse;
        gap: 60px;
    }
    .mainmid-content {
        gap: 100px;
    }
    .bottom-text {
        padding-left: 0;
    }
}

.section4 {
    background-color: rgba(202, 242, 219, 1);
}

.footer-container {
    max-width: 1419px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px; 
    padding-top: 81px;
    background-color: rgba(202, 242, 219, 1);
}

.footer-content {
    width: 100%;
}

.headtext{
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    line-height: 16px;
    color: rgba(46, 171, 74, 1);
    font-family: Nova Script;
}

.footcontainer-backimg {
    width: 100%;
    height: 116px;
    margin-top: 68px;
    display: flex;
    flex-wrap: wrap;
    gap: 77px;
    opacity: 10%;
}

.footcenterimg-1 {
    padding-left: 102px;
}

.footcenterimg-2 {
    padding-top: 22px;
}

.foottext {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 255px;
    margin-top: 34px;
}

.foottext ul,a{
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.foottext li{
    width: 130px;
    height: 16px;
    margin-top: 20px;
}

.foottext a{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;   
    padding-top: 2px;
    padding-bottom: 2px;
    color: rgba(46, 171, 74, 0.78);
}

.foot4 p{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;   
    padding-top: 2px;
    padding-bottom: 2px;
    color: rgba(46, 171, 74, 0.78);
}

.footimg-container {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    gap: 25px;
}

.bottomimg-left {
    position: absolute;
    bottom: 0;
}

.bottomimg-right {
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 640px) {
    .foottext {
        gap: 70px;
    }
}
